.feed-container {
    width: 80vw;
    height: calc(100vh - 100px);
    margin: auto;
    background-color: red;
}

.posts-list {
    width: 600px;
    margin:auto;
    height:100%;
    background-color: yellow;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* .feed-loader {
    width:80px;
    margin: auto;
} */

