
.feed-container {
    width: 80vw;
    height: 100%;
    margin: auto;
}

.posts-list {
    width: 600px;
    margin:auto;
    height:100%;
    padding: 0px 40px;
    padding-top:50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

