.button-secondary {
    color: rgb(26, 32, 43);
    background-color: white;

    padding: 5px;
    border-width: 2px;
    border-radius: 100px;
    
    font-weight: 700;
    font-size: 14px;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
  }
  
  .button-secondary:hover {
    cursor: pointer;
  }
  