.comment-composer {
    width: 95%;
    margin: 10px 0px;
    margin-left:5%;
}

.comment-composer form {
    display: flex;
    flex-direction: row;
}

.comment-composer-body {
    resize: none;
    min-height:25px;
    height:25px;
    line-height: 25px;
    width: calc(100% - 100px);
}

.comment-composer-operations {
    width:20%;
}

.submit-comment {
    height:25px;
    width: 80px;
    margin:auto;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 0px !important;
}

