.navbar {
    height: 50px;
    width: 100vw;
    position: fixed;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0.5018382352941176) 79%, rgba(255,255,255,0) 100%);    z-index: 2;
}

.nav-list {
    width:80vw;
    margin:auto;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul {
    margin:0px;
}

.nav-item {
    height:50px;
    width: 50px;
    margin: 0px 5px;
    line-height: 50px;
    text-align: center;
}

.end {
    margin-left:auto;
}

.profile {
    width:auto;
    display:flex;
    flex-direction: row;
}

.username {
    margin: 0px 10px;
}

.nav-avatar {
    height: 40px;
    width: 40px;
    margin: 5px 0px;
}

.nav-login {
    height:50px;
    width: 50px;
    margin: 0px 5px;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
}

.nav-login-button {

}

.nav-sign-out {
    font-size: 12px;
    height: 35px;
    width: 80px;
    margin: 7.5px 5px;
}

