
.follows {
    margin: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    
}

.follow-display {
    height: 100%;
    line-height: 50px;
    margin: 0px 5px;
    font-size: 14px;
}

.follow-button {
    height: 34px;
    width: 80px;

    margin: 8px;

    font-size: 12px;
}