.users-container {
    height: calc(100vh - 50px);
    width: 40vw;
    margin: 50px auto 0px auto;
    /* background-color: green; */

    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    box-sizing: border-box;
    padding: 10px;
}

.users-list {
    width: 600px;
    margin: auto;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.users-header {
    margin: 10px;
    font-size: 25px;
}